<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="app">

<!-- SIDEBAR -->

<div class="sidebar">

<h2>Chat</h2>

<div class="search">

<input
id="pesquisa"
type="text"
placeholder="Pesquisar usuário"
/>

<button id="btnPesquisar">
Pesquisar
</button>

</div>

<ul id="lista-contatos"></ul>

</div>

<!-- CHAT -->

<div class="chat">

<div class="chat-header">

<div id="chat-avatar" class="avatar">?</div>

<span id="chat-nome">
Selecione um contato
</span>

</div>

<div id="mensagens"></div>

<div class="chat-input">

<input
id="texto"
type="text"
placeholder="Digite uma mensagem..."
autocomplete="off"
/>

<button id="btnEnviar">
Enviar
</button>

</div>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>