<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>

<div class="login-container">

<h2>Entrar no chat</h2>

<form action="/login" method="POST">

<input 
type="text" 
name="nome" 
placeholder="Usuário"
required
>

<input 
type="password" 
name="senha" 
placeholder="Senha"
required
>

<button type="submit">
Entrar
</button>

</form>

</div>

</body>
</html>